
# Base de datos SQL Server en VPS
DB_HOST=eliconacento.com
DB_PORT=1433
DB_USER=sa
DB_PASS=TuContraseñaSegura123!
DB_NAME=icalidad

# Contraseña del sa para el contenedor SQL Server Docker
MSSQL_SA_PASSWORD=TuContraseñaSegura123!

# Variables públicas solo si el frontend las necesita en el navegador
NEXT_PUBLIC_ORIGIN=http://localhost:3000

NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_ORIGIN=http://localhost:3000
NEXTAUTH_SECRET=secret
JWT_SECRET=secret
SECRET=secret
NEXT_PUBLIC_ENCRYPTION_KEY=tu-clave-super-secreta-min-32-caracteres-2024-para-encriptar
 